:root{
    --color-principal: #f43543;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--color-principal);
}

.wrapper{
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 100%;
    background-color: var(--color-principal);
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
    position: relative;
    border-radius: 5px;
}